<footer>
  <div class="container">
        <div class="row">
              <div class="col-4">
                    <h5 class="text-secondary">Lépj kapcsolatba velünk</h5>
                    <ul class="p-0" style="list-style: none;">
                          <li><a class="email" href="mailto:hello@merolx.com">hello@merolx.com</a></li>
                          <li><a class="email" href="mailto:business@merolx.com">business.merolx.com</a></li>
                    </ul>
              </div>
              <div class="col">
                    <h5 class="text-secondary">Social</h5>
                    <ul class="p-0" style="list-style: none;">
                          <li><a class="social" href>Instagram</a></li>
                          <li><a class="social" href>Discord</a></li>
                    </ul>
              </div>
        </div>
        <div class="row mt-5">
              <p class="text-secondary m-0">MerolX Project.</p>
              <span class="text-secondary m-0"><i class="bi bi-c-circle"></i> 2023 <a href="#" class="px-2 text-secondary">Adatvédelem</a><a class="px-2 text-secondary" href="#">Á.SZ.F</a></span>
        </div>
  </div>
</footer>
